<h1><%= @book.title %></h1>
<p><strong><%= @book.author %> - <%= @book.published_at %> - <%= @book.pages_count %> pages</strong></p>
<p><%= @book.description %></p>
<small><%= @book.user&.first_name %></small>
<hr>
<%= link_to "Add a comment", "#", id: "add-comment" %>
<div id="new-comment">
  <%= render "comments/form", comment: @book.comments.new %>
</div>
<div id="comments">
  <%= render "comments/comments", comments: @book.comments.order(created_at: :desc) %>
</div>