<!DOCTYPE html>
<html>
  <head>
    <title>BooksOdb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'icon.ico' %>
  </head>

  <body>
    <div class="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: name %>
      <% end %>

      <div class="auth mb-4">
        <% if user_signed_in? %>
          <%= link_to t("users.account"), edit_user_registration_path %>
          -
          <%= link_to t("users.logout"), destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to t("users.signin"), new_user_session_path %>
          -
          <%= link_to t("users.signup"), new_user_registration_path %>
        <% end %>
      </div>

      <%= yield %>
    </div>
  </body>
</html>
